/* Code for styling the city weather section  */

#city {
    height: 90px;
}

#city-name {
    margin-right: 30%;
}

#date {
    margin-right: 30%;
}

#today {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 1.8em;
    padding: 4%;
    width: 50%;
}

#alignment {
    display: flex;
    justify-content: center;
}

#city-icon {
    height: 150px;
    margin-right: 20%;
}

/* code for styling the city weather section on mobile */

@media screen and (max-width: 943px) {

    h2 {
        margin-right: 0%;
        font-size: 25px;
    }

    h4 {
        margin-right: 0%;
    }

    #city-icon {
        margin-left: 40%;
        height: 75px;
        width: 75px;
        margin-top: 0%
    }

    #city-name {
        margin-right: 0%;
    }
    
    #date {
        margin-right: 0%;
    }

    #today {
        width: 80%;
        margin-top: 5%;
        margin-bottom: 0%;
    }

    #alignment {
        display: flex;
        flex-direction: column;
    }
}