/* Code for styling The Group One section */

h5 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}

.group-text {
    color: black;
}

.group-flex {
    display: flex;
    justify-content: center;
}

.groups {
    width: 20%;
    background-color: white;
    border: 10px solid #5800FF;
    padding-bottom: 35px;
}

.column {
    display: flex;
    flex-direction: column;
}

#forecast-container {
    width: 100%;
    background-color:#5800FF;
    margin-top: 20px;
    padding-bottom: 15px;
}

#forecast {
    margin-top: 10%;
    margin-left: 30%;
    padding-top: 25px;
}

/* Code for styling the Group One section on mobile */

@media screen and (max-width: 943px) {
    .group-flex {
        display: flex;
        flex-direction: column;
    }

    .groups {
        width: 96%;
        height: 250px;
        border: 8px, solid, #5800FF;
        padding-bottom: 10px;
    }

    #group-one-container {
        width: 100%;
    }

    #forecast-container {
        margin-left: 0%;
        width: 100%;
    }

    #forecast {
        margin-left: 0%;
        width: 100%;
    }
}