/* Code for styling the header section */
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
    padding-top: 80px;
    text-shadow: 1px 1px black;
    margin-left: 10%;
}

img {
    margin-top: 100px;
    margin-left: 60px;
    text-shadow: 2px 2px black;
}

#header {
    height: 15em;
    background-color: #00D7FF;
    display: flex;
    justify-content: center;

}

/* Code for styling the header section on mobile */

@media screen and (max-width: 943px) {

    #header {
        padding-bottom: 15%;
        height: 10em;
    }

    h1 {
        font-size: 40px;
        margin-top: 1%;
        margin-left: 20%;
    }

    img {
        margin-top: 1%;
        margin-right: 10%;
    }
}